<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<nav class="navbar-default navbar-static-side" role="navigation" th:fragment="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> 
                    	<span>
                            <img alt="image" class="img-circle" th:src="@{/static/img/landing/a4.jpg}" />
						</span>
                    	<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> 
                            	<span class="block m-t-xs">
                            		<strong class="font-bold"><label th:text="${session.user.name}"></label></strong>
                             	</span> 
                             </span>
                     	</a>
                    </div>
                    <div class="logo-element">
                        <label th:text="${session.user.name}"></label>
                    </div>
                </li>
                <li>
                    <a href="/user/welcome"><i class="fa fa-diamond"></i> <span class="nav-label">首页</span></a>
                </li>
                <li id="news">
                    <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">个人信息</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a th:href="@{'/user/myPage?name='+${session.user.name}}">查看个人信息</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">查询/预约</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/machine/selMachine">查询设备</a></li>
                    </ul>
                </li>
                <li>
                    <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">我的预约</span><span class="label label-warning pull-right">new</span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a th:href="@{'/appo/viewAppo?use_name='+${session.user.name}}">查看预约</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">使用记录</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a th:href="@{'/record/viewRecord?use_name='+${session.user.name}}">查看记录</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">即时排队</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/que/selM">即时排队</a></li>
                        <li><a th:href="@{'/que/viewAppo?use_name='+${session.user.name}}">进度查看</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>



