<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fkit.springbootmybatistest.mapper.FastAppointmentMapper">
    <resultMap id="BaseResultMap" type="org.fkit.springbootmybatistest.entity.FastAppointment">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="use_id" jdbcType="INTEGER" property="use_id"/>
        <result column="use_name" jdbcType="VARCHAR" property="use_name"/>
        <result column="machine_id" jdbcType="INTEGER" property="machine_id"/>
        <result column="machine_usage" jdbcType="VARCHAR" property="machine_usage"/>
    </resultMap>

    <select id="sel" resultType="org.fkit.springbootmybatistest.entity.FastAppointment">
        select * from fast_appointment order by id
    </select>

    <select id="selById" resultType="org.fkit.springbootmybatistest.entity.FastAppointment">
        select * from fast_appointment where id = #{id}
    </select>

    <select id="selByUse_name" resultType="org.fkit.springbootmybatistest.entity.FastAppointment">
        select * from fast_appointment where use_name = #{use_name}
    </select>

    <select id="selByMachine_id" resultType="org.fkit.springbootmybatistest.entity.FastAppointment">
        select * from fast_appointment where machine_id = #{machine_id}
    </select>

   <insert id="addFastAppointment" parameterType="org.fkit.springbootmybatistest.entity.FastAppointment">
       insert into fast_appointment(use_id,use_name,machine_id,machine_usage) values(#{use_id},#{use_name},#{machine_id},#{machine_usage})
   </insert>

    <delete id="delFastAppointment" parameterType="int">
        delete from fast_appointment where id = #{id}
    </delete>

    <delete id="delAll">
        delete from fast_appointment where 1 = 1
    </delete>

</mapper>