<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fkit.springbootmybatistest.mapper.OtherInfoMapper">

    <select id="selByMachineId" resultType="org.fkit.springbootmybatistest.entity.OtherInfo">
        select * from other_info where machineId = #{machineId}
    </select>

    <insert id="insertInfo" parameterType="org.fkit.springbootmybatistest.entity.OtherInfo">
        insert into other_info(testAccount,language,testDate,printType,outType,stdId,lightingMinute,machineId) values (#{testAccount},#{language},#{testDate},#{printType},#{outType},#{stdId},#{lightingMinute},#{machineId})
    </insert>

    <update id="updateInfo" parameterType="org.fkit.springbootmybatistest.entity.OtherInfo">
        update other_info set testAccount = #{testAccount},language = #{language},testDate = #{testDate},printType = #{printType},outType = #{outType},stdId = #{stdId},lightingMinute = #{lightingMinute} where machineId = #{machineId}
    </update>
</mapper>