<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fkit.springbootmybatistest.mapper.RecordMapper">
    <resultMap id="BaseResultMap" type="org.fkit.springbootmybatistest.entity.Record">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="use_id" jdbcType="INTEGER" property="use_id"/>
        <result column="use_name" jdbcType="VARCHAR" property="use_name"/>
        <result column="machine_id" jdbcType="INTEGER" property="machine_id"/>
        <result column="machine_usage" jdbcType="VARCHAR" property="machine_usage"/>
        <result column="start_use_time" jdbcType="TIMESTAMP" property="start_use_time"/>
        <result column="end_use_time" jdbcType="TIMESTAMP" property="end_use_time"/>
    </resultMap>

    <select id="sel" resultType="org.fkit.springbootmybatistest.entity.Record">
        select * from record
    </select>

    <select id="selById" resultType="org.fkit.springbootmybatistest.entity.Record">
        select * from record where id = #{id}
    </select>

    <select id="selByMachine_id" resultType="org.fkit.springbootmybatistest.entity.Record">
        select * from record where machine_id = #{machine_id}
    </select>

    <select id="selByUse_name" resultType="org.fkit.springbootmybatistest.entity.Record">
        select * from record where use_name = #{use_name}
    </select>

    <select id="SelByTime" resultType="org.fkit.springbootmybatistest.entity.Record">
        select * from record where start_use_time >= #{start_use_time} and #{end_use_time} >= end_use_time
    </select>

    <insert id="addRecord" parameterType="org.fkit.springbootmybatistest.entity.Record">
        insert into record(use_id,use_name,machine_id,machine_usage,start_use_time,end_use_time) values(#{use_id},#{use_name},#{machine_id},#{machine_usage},#{start_use_time},#{end_use_time})
    </insert>

    <delete id="delRecord">
        delete from record where id = #{id}
    </delete>

    <update id="updateRecord" parameterType="org.fkit.springbootmybatistest.entity.Record">
        update record set machine_id = #{machine_id},machine_usage = #{machine_usage},start_use_time = #{start_use_time},end_use_time = #{end_use_time} where id = #{id}
    </update>

    <select id="selLikeUse_nameAndMachine_usage" resultType="org.fkit.springbootmybatistest.entity.Record">
        select * from record where use_name like CONCAT(concat('%',#{use_name},'%')) and machine_usage like CONCAT(concat('%',#{machine_usage},'%'))
    </select>

</mapper>