<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fkit.springbootmybatistest.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="org.fkit.springbootmybatistest.entity.User">
            <result column="id" jdbcType="INTEGER" property="id"/>
            <result column="name" jdbcType="VARCHAR" property="name"/>
            <result column="password" jdbcType="VARCHAR" property="password"/>
            <result column="sex" jdbcType="VARCHAR" property="sex"/>
            <result column="role" jdbcType="VARCHAR" property="role"/>
            <result column="status" jdbcType="VARCHAR" property="status"/>
    </resultMap>

    <select id="Sel" resultType="org.fkit.springbootmybatistest.entity.User">
        select * from user where id = #{id}
    </select>

    <select id="login" resultType="org.fkit.springbootmybatistest.entity.User">
        select * from user where name = #{param1} and password = #{param2}
    </select>

    <insert id="register" parameterType="org.fkit.springbootmybatistest.entity.User">
        insert into user (name,password,sex,role,status) values (#{name},#{password},#{sex},'guest','off')
    </insert>

    <select id="findRole" resultType="String">
        select role from user where name = #{param1}
    </select>

    <select id="selByName" resultType="org.fkit.springbootmybatistest.entity.User">
        select * from user where name = #{name}
    </select>

    <select id="selLikeName" resultType="org.fkit.springbootmybatistest.entity.User">
        select * from user where name like concat(concat("%",#{name}),"%")
    </select>

    <select id="selAll" resultType="org.fkit.springbootmybatistest.entity.User">
        select * from user
    </select>

    <delete id="delUser" >
        delete from user where id = #{id}
    </delete>

    <update id="updateUser" parameterType="org.fkit.springbootmybatistest.entity.User">
        update user set name = #{name},sex = #{sex},status = #{status},role = #{role} where id = #{id}
    </update>

    <insert id="addUser" parameterType="org.fkit.springbootmybatistest.entity.User">
        insert into user(name,sex,password,role,status) values (#{name},#{sex},#{password},#{role},#{status})
    </insert>

</mapper>