<!DOCTYPE html>
<html lang="en"  html xmlns:th=http://www.thymeleaf.org>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="/static/js/jquery-3.2.1.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/My97DatePicker/WdatePicker.js"></script>
    <script src="/static/js/AutoScroll.js"></script>

    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/static/font-awesome/css/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{/static/css/style.css}" rel="stylesheet" />
    <title>操作台</title>
</head>
<script type="text/javascript">
            <!--$(document).ready(function(){-->

                <!--window.setInterval("a()",3000); //每三秒钟访问一次服务器获取信息-->
            <!--});-->

            <!--function a(){-->
                <!--$.ajax({-->
                        <!--url : "/record/countTime",  //请求的url-->
                        <!--type : "post",  //请求方式-->
                        <!--data : {-->
                            <!--endTime: $("#end").val()-->
                        <!--},-->
                        <!--dataType : "text",  //后台数据返回类型-->
                        <!--success : function(data) {  //响应成功执行的方法-->
                            <!--&lt;!&ndash;alert(data);&ndash;&gt;-->
                            <!--var textId=$("#d1");    //根据文本框的id找到这个文本框，并将其变成jquery对象-->
                            <!--textId.val();   //清空原来的值-->
                            <!--textId.val(data);   //重新赋值-->
                            <!--console.log(data)-->

                            <!--if(data == "1"){-->
                                <!--console.log(data)-->
                                <!--$("#submit").click();;   //时间到，提交表单-->
                            <!--}-->
                        <!--},-->
                        <!--error : function() {    //出现异常执行方法-->
                            <!--alert("网站异常,请返回主页");-->
                        <!--}-->
                <!--});-->
            <!--}-->
</script>
<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="nav-client :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header-client :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <h2>操作台</h2>
                <ol class="breadcrumb">
                    <li>
                        <a>首页</a>
                    </li>
                    <li>
                        <a>预约</a>
                    </li>
                    <li class="active">
                        <a>操作台</a>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div>
            <input id="d1" type="text" class="form-control" style="color:red">
        </div>
        <div>
            <form id="form" action="/que/end" method="post">
                <div class="row" style="margin:20px">
                </div>
                <div class="row" style="margin:20px">
                </div>
                <div class="row" style="margin:20px">
                </div>
                <div class="row" style="margin:30px">
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon">序号:</span>
                            <input type="text" name="id" class="form-control" th:value="${app.id}" readonly >
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon">设备编号:</span>
                            <input type="text" class="form-control" id="machine_id" name="machine_id" th:value="${app.machine_id}" readonly >
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon"> 设备用途:</span>
                            <input type="text" class="form-control" name="machine_usage" th:value="${app.machine_usage}"  readonly >
                            <!--用途:<input type="text" name="machine_usage" th:value="${machine.m_usage}" style="margin:20px" readonly/>-->
                        </div>
                    </div>
                </div>
                <div  class="row" style="margin:30px">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"> 用户姓名:</span>
                            <input type="text" class="form-control" name="use_name" th:value="${app.use_name}" readonly >
                            <!--用户姓名:<input type="text" name="use_name" th:value="${session.user.name}" style="margin:20px" readonly/>-->
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"> 用户编号:</span>
                            <input type="text" class="form-control" name="use_id" th:value="${app.use_id}"  readonly >
                            <!--编号:<input type="text" name="use_id" th:value="${session.user.id}" style="margin:20px" readonly/>-->
                        </div>
                    </div>
                </div>

                <div align="center">
                    <!--<a style="color:red" class="btn btn-primary btn-primary" th:href="@{'/record/addRecord?id='+${app.id}}">结束操作</a>-->
                    <input id="submit" type="submit" class="btn btn-primary btn-primary" value="结束操作"/>
                    <!--<a style="margin-left:30px" class="btn btn-primary btn-primary" href="/user/welcome">返回主页</a>-->
                </div>
            </form>
        </div>
    </div>
    <div class="footer" th:include="footer-client :: copyright"></div>
</div>
</div>
<!-- Mainly scripts -->
<script th:src="@{/static/js/jquery-2.1.1.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/static/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<!-- Peity -->
<script th:src="@{/static/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/static/js/inspinia.js}"></script>
<script th:src="@{/static/js/plugins/pace/pace.min.js}"></script>

<!-- Toastr script -->
<script th:src="@{/static/js/plugins/toastr/toastr.min.js}"></script>

<!-- common -->
<script th:src="@{/static/js/common.js}"></script>
</body>
</html>